@model TaskManager.Models.TaskItem
@using TaskManager.Models

@{
    ViewData["Title"] = "Створити задачу";
}

<h1>Створити нову задачу</h1>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Create">
            <input type="hidden" name="ProjectId" value="@ViewBag.ProjectId" />
            <div class="mb-3">
                <label asp-for="Title" class="form-label">Назва</label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Description" class="form-label">Опис</label>
                <textarea asp-for="Description" class="form-control" rows="3"></textarea>
            </div>
            <div class="mb-3">
                <label asp-for="Deadline" class="form-label">Дедлайн</label>
                <input asp-for="Deadline" type="datetime-local" class="form-control" />
            </div>
            <div class="mb-3">
                <label asp-for="Priority" class="form-label">Пріоритет</label>
                <select asp-for="Priority" asp-items="Html.GetEnumSelectList<TaskPriority>()" class="form-select"></select>
            </div>

            <div class="mb-4">
                <label asp-for="AssigneeId" class="form-label">Призначити виконавця</label>
                <select asp-for="AssigneeId" class="form-select" asp-items="ViewBag.AssigneeId">
                    <option value="">-- Залишити не призначеною --</option>
                </select>
            </div>
            
            <button type="submit" class="btn btn-success">Зберегти</button>
            <a asp-action="Index" class="btn btn-secondary">Скасувати</a>
        </form>
    </div>
</div>